# Node Modules (Frontend & Backend)
node_modules/
**/node_modules/

# Python Virtual Environments (Crucial Fix)
venv/
env/
.env
**/venv/
scraping_service/venv/

# Python Cache
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
.DS_Store